.body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
    width: 100%;
    max-height: 600px;
    height: 100%;
    // background-color: gray;
}
.left{
    max-width: 100%;
    width: 50%;
    max-height: 600px;
    height: 100%;
}
.left img{
    max-width: 100%;
    width: 100%;
    max-height: 600px;
    height: 100%;
    object-fit: cover;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 50%;
    height: 600px;
}
.form{
    max-height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.formGroup{
    max-width: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

label{
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    font-family: 'roboto';
    color: white;
    // color: #378c78;
}
.error{
    color: red;
    font-size: 14px;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: -40%;
    left: 12%;
}

.input{
    padding: 10px;
    // border-radius: 8px;
    border: none;
    border-bottom: 2px solid #378c78;
    outline: none;
    width: 90%;
    background-color: transparent;
    color: white;
}
.buttongroup{
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
button{
    padding-block: 8px;
    padding-inline: 30px;
    font-size: 19px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 1px solid gray;
}

.submit:hover{
    background-color: #378c78;
    color: white  !important;
    border: 1px solid white;
}