*{
    padding: 0px;
    margin: 0px;
}

body{
    max-width: 100vw;
    width:100%;
    /* max-height: 100vh; */
    /* overflow-y: hidden; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	/* background-size: 400% 400%; */
	/* animation: gradient 5s ease infinite; */
    box-sizing: border-box;
}
.writer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.content{
    padding: 15px;
}
/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
.container{
    background-color: white;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.header{
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #086c75;
    box-shadow: rgba(0,0,0,0.35)0px 5px 15px;
    color: white;
}
.navItem{
    font-family: cursive;
    font-size: 24px;
    cursor: pointer;
}
.navItem a{
    text-decoration: none;
    color: white;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* color: white; */
    padding: 10px;

}
.text{
    font-family: cursive;
    font-size: 17px;
    text-align: justify;
    padding: 10px;
    padding-right: 20px;
    color: gray;
}
.imgCircle{
    border-radius: 50%;
    box-shadow: rgba(3, 42, 46, 0.35) 0px 5px 15px;
}
.imgSimple{
    box-shadow: rgba(3, 42, 46, 0.35) 0px 5px 15px;
}
.image img:hover{
    cursor: pointer;
}
.special{
    text-decoration: none;
    font-size: 19px;
    color: #086c75;
    cursor: pointer;
    text-decoration: underline;
}
.Heading{
   
    font-size: 32px;
    font-weight: 700;
    font-family: cursive;
    padding-left: 20px;
    
}
.title{
    
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    font-family: cursive;
    
}
.title a{
    text-decoration: none;
    color: #086c75;
}

.data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
}
.card{
    width: 300px;
    height:200px;
    box-shadow: 0 1px 2px 0 gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding-inline: 5px;
}
.card:hover{
    cursor: pointer;
    box-shadow: rgba(3, 42, 46, 0.35) 0px 5px 15px;
}
.card img{
    object-fit: contain;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.cardImage{
    max-width: 100%;
    width: 35%;
}
.cardName{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  max-width: 100%;
  width: 60%;
  /* color: white; */
  text-align: center;
  padding-block: 10px;
}
.left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.LanguageTool{
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.contact{
    display: flex;
    justify-content: space-around;
    background-color: #086c75;
    color: white;
    max-width: 100%;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.items a{
    text-decoration: none;
    color: white;
}
.leftSide{
    max-width: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightSide{
    max-width: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.footer1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    height: 100%;
}
.items:hover{
    text-decoration: underline;
}
.footer1 div:hover{
    cursor: pointer;
}
.formGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
input{
    border-radius: 6px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    color: gray;
    width: 100%;
}
label{
    font-size: 17px;
    width: 100px;
    font-family: cursive;
}
button{
    padding-inline: 10px;
    padding-block: 5px;
    font-size: 16px;
    font-family: cursive;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 100px;
}
button:hover{
    box-shadow: rgba(255,255,255,0.35)0px 5px 15px;
}

@media only screen and (max-width: 768px) {
.left{
    display: flex;
    flex-direction: column;
}
.right{
    display: flex;
    flex-direction: column-reverse;
}
.firstSection{
    display: flex;
    flex-direction: column-reverse;
}
.contact{
    display: flex;
    flex-direction: column;
}
.leftSide{
    width: 100%;
}
.rightSide{
    width: 100%;
}
}





::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
}