
*{
    font-family: 'roboto';
}
a{
    text-decoration: none !important;
    color: white !important;
}
a:hover{
    text-decoration: none;
}
.link{
    text-decoration: none;
    color: #378c78;
    font-size: 21px;
    font-weight: 600;
    text-decoration: underline;
}
.parent{
    background-color: black;
    max-width: 100vw;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    color: white;
}
.top{
    display: flex;
    width: 100vw;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
    width: 100%;
    // opacity: 0.6;
}
.container{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('/assets/aboutLanding.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 700px;
   
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 90%;
}
.aboutleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    font-size: 18px;
    max-width: 100%;
    width: 45%;
    padding: 20px;
    .heading{
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #378c78;
    }
    .leftText{
        line-height: 30px;
    }
}
.aboutright{
    max-width: 100%;
    width: 45%;
    height: 100%;
    padding-block: 30px;
}
.skillBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // row-gap: 20px;
    height: 100%;
    .skill{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        row-gap: 5px;
        width: 100%;
        .completeRange{
            width: 90%;
            height: 10px;
            border: 2px solid #378c78;
            border-radius: 20px;
            .skillRange{
                background-color: #378c78;
                height: 100%;
                border-radius: 20px;
            }
        }
    }
}


.work{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-block: 70px;
    row-gap: 50px;
    .heading{
        font-size: 48px;
        color: #378c78;
        font-weight: 600;
    }
    .workBox{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        .workCard{
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            border-radius: 20px;
            box-shadow: 2px 4px 4px rgba(255,255,255,0.6);
            padding-block: 30px;
            row-gap: 20px;
            border: 2px solid white;
            margin-bottom: 50px;
            .top{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .workHeading{
                color: #378c78;
                font-size: 24px;
                font-weight: 500;
            }
            .bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
            }
            .left{
                width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                .workImage{
                    // border-radius: 50%;
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 2px solid #378c78;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        height: 95%;
                        width: 95%;
                        object-fit: contain;
                        border-radius: 50%;
                    }
                }
            }
            .right{
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                row-gap: 20px;
                padding-inline: 15px;
                .workText{
                    line-height: 30px;
                    font-weight: 400;
                    font-size: 16px;
                    text-align: justify;
                }
            }
        }
        .workCard:hover{
            cursor: pointer;
            transform: translateY(-5px);
            transition: 0.3s ease-in-out;
        }
    }
}













// MediaQuesries for the Mobile UI 
@media only screen and (max-width: 768px){
    .container{
        max-width: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .aboutleft{
        max-width: 100%;
        width: 100%;
        border: none;
        row-gap: 10px;
        .heading{
            font-size: 28px;
        }
        .leftText{
            font-size: 14px;
            line-height: 24px;
        }
    }
    .aboutright{
        max-width: 100%;
        width: 100%;
    }
    .skillBox{
        row-gap: 25px;
        .skill{
            .completeRange{
                width: 100%;
            }
        }
    }
    .work{
    .workBox{
        display: flex;
        flex-direction: column;
        .workCard{
            width: 320px;
            .workHeading{
                font-size: 18px;
            }
            .left{
                .workImage{
                    height: 35px;
                    width: 35px;
                }
            }
            .right{
                .workText{
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}
}