<div class="body">
    <div class="navbar">
        <div class="left">
            <img src="/assets/logo.png" height="55" width="50" style="cursor: pointer;" (click)="reload()">
        </div>
        <div class="right">
            <div class="list">
                <div class="item" routerLink="/about">About</div>
                <div class="item" routerLink="/about">Experience</div>
                <div class="item" routerLink="/projects">Projects</div>
                <div class="item" routerLink="/contact">Contact</div>
                <button class="resumebtn"><a href="/assets/pankaj.pdf" download="/assets/pankaj.pdf" style="text-decoration: none;">Resume</a></button>
            </div>
        </div>
    </div>
</div>

<div class="device" [ngStyle]="{'height':navOpen ? '600px' : '60px'}">
	<div class="container">
		<div class="left">
            <img src="/assets/logo.png" height="55" width="50" style="cursor: pointer;" (click)="reload()">
        </div>
		<button id="burger" class="open-main-nav" (click)="toggleNav()" [ngStyle]="{'padding-top': navOpen ? '0px' : ''}">
			<span class="burger" *ngIf="!navOpen"></span>
            <div class="crossIcon" *ngIf="navOpen" style="padding-top: 0px;"><img src="/assets/cross.png" height="30" width="30" ></div>
			<!-- <span class="burger-text">Menu</span> -->
		</button>
		<nav class="main-nav" id="main-nav">
			<ul>
				<li>
					<p routerLink="/about" (click)="toggleNav()">About me</p>
				</li>
				<li>
					<p routerLink="/about" (click)="toggleNav()">Experience</p>
				</li>
				<li>
					<p routerLink="/projects" (click)="toggleNav()">Projects</p>
				</li>
				<li>
					<p routerLink="/contact" (click)="toggleNav()">Contact</p>
				</li>
				<li>
					<a href="/assets/pankaj.pdf" download="/assets/pankaj.pdf" (click)="toggleNav()">Resume</a>
				</li>
			</ul>
		</nav>
	</div>
</div>