<div class="body">
    <div class="navbar">
        <div class="left">
            <img src="/assets/logo.png" height="55" width="50" style="cursor: pointer;">
        </div>
        <div class="right">
            <div class="list">
                <div class="item">About</div>
                <div class="item">Experience</div>
                <div class="item">Projects</div>
                <div class="item">Contact</div>
                <button class="resumebtn">Test</button>
            </div>
        </div>
    </div>
</div>