/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar{
    width: 5px !important;
}
::-webkit-scrollbar-thumb{
    // background: rgb(57, 255, 20) !important;
    background: rgb(0,0,0) !important;
}
.material-icons{
    font-family: 'Material Icons' !important;
}