* {
    padding: 0px;
    margin: 0px;
}

body {
    max-width: 100vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: black;
}

.writer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    padding: 15px;
}

.container {
    background-color: black;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    max-width: 100%;
    width: 99%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    // background-color: #086c75;
    background-color: black;
    box-shadow: rgba(57,255,20, 0.35)0px 5px 15px;
    color: rgb(57, 255, 20);
    margin-inline: 20px;

}
.navicon{
    display: none;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navItem {
    font-family: cursive;
    font-size: 24px;
    cursor: pointer;
}

.navItem a {
    text-decoration: none;
    color: rgb(57, 255, 20);
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* color: white; */
    padding: 10px;

}

.text {
    font-family: cursive;
    font-size: 17px;
    text-align: justify;
    padding: 10px;
    padding-right: 20px;
    color: rgb(57, 255, 20);
}
.cardText{
    width: 90%;
    overflow-y: hidden;
    text-overflow: ellipsis;
    height: 60px;
}

.imgCircle {
    border-radius: 50%;
    box-shadow: rgba(3, 42, 46, 0.35) 0px 5px 15px;
}

.imgSimple {
    box-shadow: rgba(3, 42, 46, 0.35) 0px 5px 15px;
}

.image img:hover {
    cursor: pointer;
}

.special {
    text-decoration: none;
    font-size: 19px;
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.Heading {
    font-size: 32px;
    font-weight: 700;
    font-family: cursive;
    padding-left: 20px;
    color: rgb(57, 255, 20);
    padding-bottom: 2%;
}

.title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    font-family: cursive;
}

.title a {
    text-decoration: none;
    color: #086c75;
}

.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
}

.card {
    width: 300px;
    height: 200px;
    box-shadow: 0 1px 2px 0 gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding-inline: 5px;
}

.card:hover {
    cursor: pointer;
    box-shadow: rgba(3, 42, 46, 0.35) 0px 5px 15px;
}

.card img {
    object-fit: contain;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.cardImage {
    max-width: 100%;
    width: 35%;
}

.cardName {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    width: 60%;
    text-align: center;
    padding-block: 10px;
}

.left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.LanguageTool {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    justify-content: space-around;
    // background-color: #086c75;
    background-color: black;
    color: rgb(57, 255, 20);
    max-width: 100%;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: rgba(57,255,20, 0.35)0px 5px 15px;

}

.items a {
    text-decoration: none;
    color: rgb(57, 255, 20);
}

.leftSide {
    max-width: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightSide {
    max-width: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.footer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    height: 100%;
}

.items:hover {
    text-decoration: underline;
}

.footer1 div:hover {
    cursor: pointer;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

input {
    border-radius: 6px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    color: gray;
    width: 100%;
}

label {
    font-size: 17px;
    width: 120px;
    font-family: cursive;
}

.buttonGroup {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
}

button {
    padding-inline: 10px;
    padding-block: 5px;
    font-size: 16px;
    font-family: cursive;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    max-width: fit-content;
    width: 100%;
    color: rgb(57, 255, 20);
}

button:hover {
    box-shadow: rgba(255, 255, 255, 0.35)0px 5px 15px;
    border: 1px solid rgb(57, 255, 20);
}

.cardheader {
    max-width: 100%;
    width: 90%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: rgb(57, 255, 20);
    font-size: 34px;
}


@media only screen and (max-width: 768px) {
    .left {
        display: flex;
        flex-direction: column;
    }

    .right {
        display: flex;
        flex-direction: column-reverse;
    }

    .firstSection {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .leftSide {
        width: 100%;
        flex-direction: column;
        
        row-gap: 10px;
        text-align: left;
    }
    .items{
        padding-block: 5px;
    }

    .rightSide {
        width: 100%;
    }
    .header{
        position: absolute;
        top: 0%;
        width: 100%;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: flex-start;
    }
    .navicon{
        display: flex;
        width: 90%;
        justify-content: flex-end;
        padding: 10px;
    }
    .navicon img{
        cursor: pointer;
        z-index: 10;

    }
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('../../assets/Tour&Travels.png');
    background-size: cover;
}

.cardsData {
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 30px;
}

.cardP {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: 100%;
    padding-block: 2%;
    background-color: black;
    row-gap: 15px;
    box-shadow: rgba(57,255,20, 0.35)0px 2px 4px;
    margin-block: 1%;

}
.cardP:hover{
    box-shadow: rgba(57,255,20, 0.25) 0px 54px 55px, rgba(57,255,20, 0.12) 0px -12px 30px, rgba(57,255,20, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cardP .image {
    max-width: 400px;
    max-height: 200px;
    max-height: 100%;
    object-fit: contain;
}

.cardP .image img {
    object-fit: cover;
}
